*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.content{
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    text-align: center;
}
.content span{
    font-size: 3rem;
    padding: 0 1rem;
}
input[type=text]{
    width: 100%;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 2px;
    font-size: 1rem;
    outline: none;
}
