body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url(bgindex.jpeg);
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Kanit', sans-serif;
    }
.row{display:  table;
width: 100%;}
.colum1{
    width: 33%;
    float: left;
    display: block;
    text-align: center;
    align-items: center;
    border: solid 0.5px #777;
    background-color: #000;
}
.colum2{
    width: 33%;
    float: left;
    display: block;
    text-align: center;
    align-items: center;
    border: solid 0.5px #777;
    background-color: #000;
}
.colum3{
    width: 33.68%;
    float: left;
    display: block;
    text-align: center;
    align-items: center;
    border: solid 0.5px #777;
    background-color: #000;
}
.row2{display:table;
width: 100%;}
 .colum4{
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    border: solid 0.5px #777;
    background-color: #000;
 }
 .colum5{
    width: 49.78%;
    float: left;
    display: block;
    text-align: center;
    border: solid 0.5px #777;
    background-color: #000;
 }
.nav ul {
text-align: right;
list-style: none;
background-color: rgb(0, 0, 0);
padding: 0%;
margin: 0;


}
.nav li {

text-align: center;
font-size: 1.2em;
line-height: 40px;

}
.nav a{
text-align: center;
text-decoration: none;
color: rgb(255, 255, 255);
display: block;

border: 1px solid #888;
transition:.3s ;
}
.nav a:hover{
background-color: #544eff;
}
.nav a.active {
text-align: center;
background-color: #aaa;
color: #444;
cursor: default;
}
.nav li li {
text-align: center;
font-size: .8em;

}

@media screen and (min-width : 650px) {
.nav li{
width: 130px;
border: none;
height: 50px;
line-height: 50px;
font-size: 1.4em;
display: inline-block;
}
.nav a {
border: none;   
}
.nav > ul >li{
text-align: center;
}
.nav > ul >li >a {
padding-left: 0;
}
.nav li ul {
position: absolute;
display: none;
width: inherit;
}
.nav li:hover ul{
display: block;
}
.nav li ul li {
display: inherit;
}

}
footer{
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
    
}
.row1{display: table;}
.columfooter1{
    float: left;
    width: 33.33%;
    display: block;
    text-align: center;
}
.columfooter2{
    float: left;
    width: 33.33%;
    display: block;
    text-align: center;
}
.columfooter3{
    float: left;
    width: 33.33%;
    display: block;
    text-align: center;
}
.box{
    position: relative;
    padding: 60px;
    border-radius: 8px;
    z-index: 2;
    background: #fff;
    max-width: 940px;
    margin: 50px auto 200px;
    box-shadow: 5px 5px 25px 0 rgb(179 179 179 / 70%);
    }
    .box2{
    padding: 0 15px;
        width: 35%;
        border-left: 1px solid #dddddd;
   
        margin-top: -200px;
        float: right;
    }
    .box ul{
        font-size: 28px;
       
    }
    .box ul li a {
        text-decoration: none;
        color: #000;
    }
    .box ul li a:hover{
        color:blue;
    }
    .box2  a{
        text-decoration: none;
    }
    .box2 span{
       color: #000;
       
    }
    .box2 span:hover{
        color: blue;
    }
    .spann a{
        text-decoration: none;
        color: #FFF;
    }
    .spann a:hover{
        color: red;
    }