*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 50px 15%;
    background: #333;
    color: #efefef;
    display: flex;
    max-width: 1920px;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a {
    text-decoration: none;
    display: block;
    color: #efefef;
    margin-bottom: 10px;
}
.col-3 a {
    text-decoration: none;
    text-align: center;
    color: #efefef;
}
.col-1 a:hover{
    color: black;
}

.col-3 a:hover{
    color: black;
}
f
from input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}